<div class="w-full text-black">
    <div class="flex mx-auto max-w-[1310px] w-full relative px-4 xl:px-0">
  
      <div class="flex justify-center w-full lg:justify-start lg:w-1/2">
        <div class="flex flex-col space-x-2 text-center lg:flex-row">
          <h3 class="font-extrabold  text-[14px] lg:hidden">¿Tienes un lugar? <span class="transform cursor-pointer text-salmon hover:scale-105">
            Súbelo ahora</span>
          </h3>
          <strong class="text-[24px] lg:text-[40px] lg:mt-[16px] omnes">ELIGE TU LUGAR PREFERIDO</strong>
        </div>
      </div>
  
      <div class="justify-end hidden w-1/2 lg:flex mt-[33px]">
        <h3 class="flex justify-end text-[20px] text-black">¿Tienes un lugar?
          <span class="ml-2 font-extrabold transform cursor-pointer text-salmon hover:scale-105 hover:text-spanishred">
            Súbelo ahora
          </span>
        </h3>
      </div>
  
    </div>
    <!--Header Dropdowns Large Screens-->
    <div class="hidden w-full text-black md:block ">
      <div class="flex mx-auto h-[50px] max-w-[1310px] w-full lg:mt-[16px]">
      <!--Reservaciones Button-->
        <button  class="flex pl-16 lg:pl-[95px] w-1/2 space-x-2 border-b-[3px] cursor-pointer hover:text-salmon border-gray hover:border-salmon group">
          <img class="md:h-[30px] md:w-[30px] w-[14px] cursor-pointer group-hover:animate-bounce" src="assets/img/header/estrella.png" alt="Icono de Reservaciones"/>
          <p class="lg:text-[22px] text-[18px] ">Reservaciones</p>
        </button>
  
        <!--Clásicos Button-->
        <button  class="flex pl-16 lg:pl-[95px] w-1/2 space-x-2 border-b-[3px] cursor-pointer hover:text-salmon border-gray hover:border-salmon group">
          <img class="md:h-[28px] md:w-[28px] w-[14px] cursor-pointer group-hover:animate-bounce" src="assets/img/header/coca.png" alt="Icono Los Clásicos Coca-Cola"/>
          <p class="lg:text-[22px] text-[18px]">
            Los Clásicos Locales Coca-Cola
          </p>
        </button>
  
      </div>
    </div>
  </div>
