<h1>MENU - MASTER PAGE</h1>
<app-rutaslazyload></app-rutaslazyload>
<br>
<a routerLink='Home'>HOME</a>
<table>
    <tr>
      <th>SECCION DEL MENU DE RESERVACIONES</th>
      <th>SECCION DEL  MENU CLASICO COCA-COLA</th>
    </tr>
    <tr>
      <td><a routerLink='reservaciones/restaurantereser'>Restaurante Menu de reservaciones</a></td>
      <td><a routerLink='clas-coco-cola/cantinascla'>Cantina menu Clasico Coca-Cola</a></td>
    </tr>
    <tr>
      <td><a routerLink='reservaciones/baresreser'>Bares Menu de reservaciones</a></td>
      <td><a routerLink='clas-coco-cola/comidasacla'>Comida saludable menu de Clasico Coca-Cola</a></td>
    </tr>
    <tr>
        <td><a routerLink='reservaciones/antroreser'>Antro Menu de reservaciones</a></td>
        <td><a routerLink='clas-coco-cola/fonditacla'>Fondita menu de Clasico Coca-Cola</a></td>
      </tr>
      <tr>
        <td><a routerLink='reservaciones/beachclubs'>Beach Club Menu de reservaciones</a></td>
        <td><a routerLink='clas-coco-cola/hamburguesriacla'>Hamburgueseria menu de  Clasico Coca-Cola</a></td>
      </tr>
      <tr>
        <td><a routerLink='reservaciones/promococacola'>Promo Coca-cola Menu de reservaciones</a></td>
        <td><a routerLink='clas-coco-cola/pizzeriacla'>Pizzeria menu de  Clasico Coca-Cola</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a routerLink='clas-coco-cola/restaurantecla'>Restaurante menu de Clasico Coca-Cola</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a routerLink='clas-coco-cola/taqueriacla'>Taqueria menu de  Clasico Coca-Cola</a></td>
      </tr>
      <tr>
        <td></td>
        <td><a routerLink='clas-coco-cola/torteriacla'>Torteria menu de Clasico Coca-Cola</a></td>
      </tr>
  </table>

  
   

    
    
  
  





<router-outlet></router-outlet>



<H1>FOOTER - MASTER PAGE</H1>